﻿
@section scripts
{
    @Scripts.Render("~/Scripts/index.js")
}
@{
    ViewBag.Title = "Home Page";
}

<p>Blue represents the path of the vehicle when there's no passenger, red represents after the pickup</p>

<button id="pathButton" type="button" style="margin-top:10px">Get Path</button>

<canvas id="myCanvas" width="200" height="200"></canvas>


